body {
    background-color: gray;
    font-family: 'Lato', sans-serif;
}

body, .droite {
    color: gray;
}

.page {
    width: 210mm;
    height: 297mm;
    margin: auto;
    background-color: white;
}

.gauche {
    background-color:midnightblue;
    color: white;
}

/*================================ Photo =================================*/

.chapitre {
    padding-left: 10%;
}

img {
    height: 15vh;
    border-radius: 100%;
    margin-top: -0.5vh;
    margin-bottom: 2vh;
}

#margehaut {
    height: 5vh;
}

.chapitre {
    margin-top: 2em;
}

.chapitre .titre {
    text-transform: uppercase;
}

.chapitre2 {
    margin-top: 2em;
}

.chapitre2 .titre2 {
    text-transform: uppercase;
}

.annee {
    font-weight: bold;
}

.projet {
    font-weight: bold;
}

.xppro {
    margin-bottom: 1em;
}

.page {
    width: 210mm;
    height: 320mm;
}